/* ------------------IMPORTS START----------------------------- */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css");
@import './components/buttons.css';
@import './components/avatar.css';
@import './components/alert.css';
@import './components/image.css';
@import './components/badge.css';
@import './components/input.css';
@import './components/card.css';
@import './components/landingPage.css';
@import './components/rating.css';
@import './components/snackBar.css';
@import './components/text_utilities.css';
@import './components/grid.css';
@import './components/lists.css';

/* -----------------------IMPORTS END--------------------------- */
*{
    margin: 0;
}

/* ---------------COLOR START-------------------------------- */
:root{
    --primary-color: #34d399;
    --secondary-color: #d3346e;
    --complementary-color: white;
}

.col-primary{
    color: var(--primary-color);
}

.bg-primary{
    background-color: var(--primary-color);
}

.col-secondary{
    color: var(--secondary-color);
}

.bg-secondary{
    background-color: var(--secondary-color);
}

hr{
    background-color: var(--secondary-color);
    height: 0.5rem;
}
/* ---------------COLOR END----------------------------------- */

/* ------------SIZE START---------------------- */
.font-size-sm{
    font-size: 2rem;
}

.font-size{
    font-size: 1.5rem;
}

.padding-sm{
    padding: 1rem;
}

.padding-bottom-seven{
    padding-bottom: 7rem;
}

.margin-auto{
    margin: auto;
}

.margin-one-r{
    margin: 1rem;
}

.margin-left-zero{
    margin-left: 0;
}

.margin-right-zero{
    margin-right: 0;
}

.margin-top-zero{
    margin-top: 0;
}

.margin-bottom-zero{
    margin-bottom: 0;
}

.margin-left-one{
    margin-left: 1rem;
}

.margin-top-one{
    margin-top: 1rem;
}

.margin-bottom-one{
    margin-bottom: 1rem;
}
/* -------------SIZE END----------------------- */

/* --------------FLEX START------------------------ */
.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-center-row{
    justify-content: center;
}

.flex-left-row{
    justify-content: left;
}

.flex-space-around-row{
    justify-content: space-around;
}

.flex-space-between-row{
    justify-content: space-between;
}

.flex-col{
    flex-direction: column;
}

.flex-center-col{
    align-items: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-no-wrap{
    flex-wrap: nowrap;
}
/* ------------------FLEX END----------------------- */

/* -----------------LINK START------------------------- */
.links{
    text-decoration: none;
}

.links:hover{
    font-size: 2.2rem;
}
/* ------------------LINK END---------------------------- */